<nav class="navbar navbar-expand-lg" style="background-color: #303960;">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" >
        <li class="nav-item active" >
          <a class="nav-link" href="#" style="color: #ffffff;">Monitoreo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" style="color: #ffffff;">Reportes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" style="color: #ffffff;">Configuraciones</a>
        </li>
      </ul>
    </div>
  </nav>