#alerta{

    position: fixed;
    top: 100px; 
    right: 20px;
    width: auto;
    height: 70px;
}

.dropdown{

    position: fixed;
    top: 170px; 
    right: 20px;  
    background-color: white; 
}

hr{

    margin-top: 0px;
    margin-bottom: 0px;
} 

.btn-circle {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
  }
  
.btn-circle-sm {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 0.9rem;
}

#simulator{
    
    position: fixed;
    bottom: 70px;
    left: 60px;
}

.modal-content{
    margin-top:350px !important;
}

.modal-body{

    height: 70px !important;
}

.modal-footer{

    padding: 0rem !important;
}

#ventana{
    padding-left: 2rem;
    padding-bottom: .5rem;
    background-color: white;
    position: fixed;
    top: 150px; 
    right: 150px;
}

#trc {
    height: 220px;
    width: auto;
}

#gps {
    
    position: fixed;
    bottom: 470px;
    left: 660px;
    height: 40px;
    width: auto;
}