<div>

    
        

    <!-- <button (click)="randomize()" id="simulator" type="button" class="btn btn-danger"> 
        Simular alerta
    </button> -->

    <button (click)="beep1()" id="" type="button" class="btn btn-danger"> 
        Simular alerta 1
    </button>

    <button (click)="beep2()" id="" type="button" class="btn btn-danger"> 
        Simular alerta 2
    </button>

    <button (click)="beep3()" id="" type="button" class="btn btn-danger"> 
        Simular alerta 3
    </button>
    
    <div ngbDropdown class="d-inline-block" cdkDrag autoClose="true" style="border: none; background: transparent;">
        <button type="button" ngbDropdownToggle style="border: none; outline: none; background: transparent;">
            <img id="alerta" src="https://api.metricamovil.com/MMSecurityWebApp/assets/Alert-icon-hk.png" width="60" height="60" alt="">
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownForm1">
            <h5 style="text-align: center; margin: 0px 0px 0px 0px; font-size:large"><b>Alertas</b></h5>
            <hr>
            <div id="contentListDevices" class="container">
                <p-table [value]="vehicles" [rows]="vehicles.length">
                    <ng-template pTemplate="header">
                        <tr>
                            <th align="center">Vehículo</th>
                            <th align="center">Pánico</th>
                            <th align="center">Jammer</th>
                            <th align="center">Motor</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-vehicle>
                        <tr>
                            <td class="col-item" align="center">{{vehicle.id}}</td>
                            <td align="center"><button (click)="more= !more" type="button" style="height: 25px; width: 25px; vertical-align:middle;" class="btn btn-sm btn-success btn-circle btn-circle-sm m-1">{{vehicle.alertA}}</button></td>
                            <td align="center"><button (click)="more= !more" type="button" style="height: 25px; width: 25px;" class="btn btn-warning btn-circle btn-circle-sm m-1">{{vehicle.alertB}}</button></td>
                            <td align="center"><button (click)="more= !more" type="button" style="height: 25px; width: 25px;" class="btn btn-danger btn-circle btn-circle-sm m-1">{{vehicle.alertC}}</button></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>

        </div>
    </div>
    
    <div id="ventana" *ngIf="more">

        <div class="mb-2">
            | ECO: 6291 | Versa 2015 - FDZ 1456 | 7Okm/h -Detenido | BP: 5  | 
            <button (click)="more= !more" type="button" class="close ml-1" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <hr>
        </div>
        
        <div>
            <img class="mb-2" id="trc" src="../../../assets/trc.jpg">
            <img id="gps" src="../../../assets/gps.png">
        </div>

        <b>Tipo de Alerta</b> {{vehicle.tipo}} <br>
        <b>Hora de Activación:</b> 12:50 pm <br> <b>Vehículo</b>:  Versa 2015 - FDZ 1456 <br> <b>Conductor</b>: Jorge López <br>
        <b>Estado del Vehículo</b>: Detenido <br> <b>Ubicación</b>:  Cobalto 365, Torreón Coahuila <br> 
        <b>Coordenadas</b>: 25.441554, -100.559554 <br> <b>Paro de motor</b>: Deshabilitado
        
    </div>

</div>
    